h1 {
    text-align: center;
}

p {
    text-align: center;
}

.Pictogram {
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.ControlBtn {
    margin: 2px;
}

.PictoImage {
    display: block;
    padding: 5px;
    margin: auto;
    width: 60%;
    height: 60%;
}

.PictoControl {
    margin: auto;
    /* height: 20%; */
}
